<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ol>
    <li>转盘，可以逆时针顺时针、无限方向旋转</li>
    <li>这个机关需要感应转盘的角度。转盘从0位置开始每顺时针转一圈即是从0到360度，到达360即回为0度，角度数值永远不会大于等于360度，或者小于0度</li>
    <li>0位置，也就是0度，是复位位置。当转盘位置保持在0度10秒钟，机关复位，此时复位指示灯亮起。当有人在此时转离0位置时，复位灯熄灭</li>
    <li>玩家转动的有效角度只包括：0度、90度、180度、270度。其他角度不需要识别</li>
    <li>以上有效角度需要有+-10度的容差，玩家希望转至90度时，只要转动到80度-100度之间，即可视为转动到有效角度90度</li>
    <li>从复位灯亮起开始，玩家依次转过90度、180度、90度、180度、270度、180度，并且中间并未有其他有效角度，则满足胜利条件，打开一个电磁锁</li>
  </ol>
</body>
</html>